
.brand img {
	width: 100%;
}

.card-wrapper {
	width: 400px;
}

.card {
	border-color: transparent;
	box-shadow: 0 0 40px rgba(0,0,0,.05);
}

.card.fat {
	padding: 10px;
}

.card .card-title {
	margin-bottom: 30px;
}

.form-control {
	border-width: 2.3px;
}

.form-group label {
	width: 100%;
}

.btn.btn-block {
	padding: 12px 10px;
}

.margin-top20 {
	margin-top: 20px;
}

.no-margin {
	margin: 0;
}

